# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Shader files
*.spv

# Executables
*.exe
*.out
*.app

better-than-nothing

# Folders
build/
cmake-build-debug/
cmake-build-release/
.idea/
.cache/

# Imgui cache
imgui.ini
