[submodule "Engine/libs/glfw"]
	path = Engine/libs/glfw
	url = https://github.com/axelcoezard/better-than-nothing-glfw.git
[submodule "Engine/libs/glew"]
	path = Engine/libs/glew
	url = https://github.com/axelcoezard/better-than-nothing-glew.git
[submodule "Engine/libs/glm"]
	path = Engine/libs/glm
	url = https://github.com/axelcoezard/better-than-nothing-glm.git
[submodule "Engine/libs/entt"]
	path = Engine/libs/entt
	url = https://github.com/axelcoezard/better-than-nothing-entt.git
[submodule "Engine/libs/openal"]
	path = Engine/libs/openal
	url = https://github.com/axelcoezard/better-than-nothing-openal.git
[submodule "Engine/libs/libsndfile"]
	path = Engine/libs/libsndfile
	url = https://github.com/axelcoezard/better-than-nothing-libsndfile.git
